<%- include('../layout/header', {title:'home'}) %>
<div class="container m-4 row gap-3">
    <% blogs.forEach((blog) =>{ %>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top mt-2" style="height: 200px; object-fit: cover;"
                 src="storage/blog-posts/<%=blog
                    .coverImageURL%>"
                 alt="Card
            image cap">
            <div class="card-body">
                <h5 class="card-title"><%=blog.title%></h5>
                <p class="card-text"><%=blog.body%></p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    <% }) %>
</div>
<%- include('../layout/footer') %>


